body{
	background-color: #F2EEEA;
}

.headnavigation{
	height: 30px;	
	background-color: #B4B2AE;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-bottom-color: #2F2E2D;
}

.logo{
	height: 125px;
	width: 100%;
	margin-top: 10px;
}

.content-box{
	
	min-height: 400px;
	
	background-color: #B4B2AE;
	
	border-top-style: solid;
	border-top-width: 4px;
	border-top-color: #2F2E2D;
	
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-bottom-color: #2F2E2D;
}

#main-col-box{
    padding-left: 0px;
}

#main-content{
	padding-top: 10px;
}

.btnRootExtend{
    height: 24px;
    font-size: 10px;
    padding-top: 1px;
}

#headleft{
    float: left;
}

#headright{
    float: right;
}